<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>
    城市：<span id="province-and-city">{{ weather_data.place }}</span> <br>
    天气：<span id="weather">{{ weather_data.weather }}</span> <br>
    温度：<span id="temperature">{{ weather_data.temperature }}</span> <br>
</h2>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
    <!--添加cookie-->
    let date = new Date()
    date.setDate(date.getDate() + 1000)
    document.cookie = `weather_data=mengta123;expires=${date.toUTCString()}`
    </script>
    <script>
        $(function ()
        {
            $("#b1").click(function (){
                province = $("#province").val()
                city = $("#city").val()
                $.ajax({
                    url: "/post_weather",
                    method : "post",
                    contentType : "application/json",
                    data : JSON.stringify({
                        province : province,
                        city : city
                    }),         // 将数据转换为json格式
                    success : function (data){
                        // data = JSON.parse(data)
                        console.log(data)
                        $("#province-and-city").text(data["data"]["place"])
                        $("#weather").text(data["data"]["weather"])
                        $("#temperature").text(data["data"]["temperature"])
                    },
                    error : function (data){
                        console.log(data)
                    }
                })
            })
            $("#b2").click(function (){
                province = $("#province").val()
                city = $("#city").val()
                $.ajax({
                    url : `/get_weather?province=${province}&city=${city}`,
                    method : "get",
                    success : function (data) {
                        $("#province-and-city").text(data["data"]["place"])
                        $("#weather").text(data["data"]["weather"])
                        $("#temperature").text(data["data"]["temperature"])
                    },
                    error : function (data){
                        console.log(data)
                    }
                })
            })
        })
    </script>

<input id="province" placeholder="请输入省份"> <br>
<input id="city" placeholder="请输入城市"> <br>
<button id="b1"> 通过post方式查询 </button> <button  id="b2"> 通过get方式查询 </button>

</body>
</html>